
.header{
    display: flex;
    align-items: center;
}

.title {
    background-color: #8400ff;
    height: 100px;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}

.formularios {
    padding: 30px;
    padding-left: 5px;
    flex-direction: column;
    display: flex;
    gap: 20px;
    align-items: center;
    border: 3px solid #8400ff;
    width: 30%;
    margin: 50px auto;
    background-color: #f5f509;
    border-radius: 10px;
}

.formularios input {
    width: 130%;
    border-radius: 5px;
    border-color: #d0adf1;
    padding: 15px;
    margin-left: -10px;
    background-color: hsl(0, 0%, 100%);
    color: #000000;
}

.formularios p{
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.formularios ::placeholder{
    color: #baabab;
    font-size: 14px;
}

.formularios button{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.button {
    background-color: #8400ff;
    border-radius: 5px;
    border: 2px solid #8400ff;
    font-size: 16px;
    border: none;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
}

.button:hover{
    background-color: #6a00cc;
}